@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Grape+Nuts&display=swap');

body{
    font-family: 'Poppins' , sans-serif;
    font-size:  14px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h4 {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    margin-left: 220px;
    font-size: 20px;
}

.header{
    background: #022658;
    height: 30px;
    position: fixed;
    top : 0;
    width: 100%;
}

nav.header {
    text-align: right;
    display: block;
    margin-right: 10%;
    text-decoration: none;
    color: white;
}

.header .user{
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.header .logout{
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
}

.header .logout:hover{
    color: goldenrod;
    background: #1e1e1e;
}

.sidebar{
    position: fixed;
    left: 0px;
    width: 200px;
    height: 100%;
    background-color: #022658;
    line-height: 50px;
}

.sidebar ul li{
    border-bottom: 1px solid white;
    text-align: left;
    list-style-type: none;
}

.sidebar ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

.sidebar ul li a:hover{
    color: goldenrod;
    background: #1e1e1e;
    border-left-color: white;
}

.sidebar ul ul{
    position: static;
    display: none;
}

.sidebar ul .rpt-show.show{
    display: block;
}

.sidebar ul .emp-show.show{
    display: block;
}

.sidebar ul ul li{
    line-height: 42px;
    border-bottom: none;
}

.sidebar ul ul li a{
    font-size: 12px;
}


.sidebar ul li a span{
    position:absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    transition: transform 0.4s;
}

.sidebar ul li a:hover span{
    transform: translateY(-50%) rotate(-90deg);
}

.turnover{
    display: inline-block;
    top: 6.5rem;
    margin-left: 420px;
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.25);
    color: #0c1b54;
    text-indent: 0.5rem;
    font-size: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px); 
}

.totalEmployees{
    display: inline-block;
    top: 6.5rem;
    margin-left: 25px;
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.25);
    color: #0c1b54;
    text-indent: 0.5rem;
    font-size: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px); 
}

.companyNotice{
    display: inline-block;
    top: 7.5rem;
    margin-left: 370px;
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.25);
    color: #0c1b54;
    text-indent: 0.5rem;
    font-size: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px); 
}


.table{
    margin: 7.5rem 0 0 35%;
    left: 180px;
    width: 65%;
    text-indent: 1rem;
    text-align: center;
    align-content: space-between;
    overflow: auto;
    display: inline-block;
    position: absolute;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.25);
    color: #0c1b54;
    font-size: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px); 
}



/*Register*/
/* Form Setting */
/*
h2{
    margin-top: 5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: 'Karla', sans-serif;
    color: #0c1b54;;
}


.firstName{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.lastName{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.gender{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}*/

/* Gender Box*/


/*
.btn{
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    display: flex;
    height: 57.5px;
    padding: .25rem;
    position: relative;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

.address{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.contact{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    gap: .25rem;
}



.button{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: .5rem;
}

.button .btn-custom{
    background-color: #0c1b54;
    color: lightgray;
    border-radius: 18px;
    box-sizing: border-box;
}*/


/* Account */

.accName{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: .75rem;
}

.password{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: .75rem;
}

.confirmPassword{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: .75rem;
}