@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Grape+Nuts&display=swap');

body{
    font-family: 'Poppins' , sans-serif;
    font-size:  14px;
    background-image: url('/src/bgpic.jpg');
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}

/*.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Karla', sans-serif;
}

.navbar-links ul{
    background: none;
    border: none;
    text-decoration: none;
    display: flex;
    gap: .5rem;
    font-size: 20px;

}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    display: inline-flex;
    color: lightgray;
}

.navbar-links li a:hover{
    color: #0c1b54;
}*/


h4 {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    margin-left: 180px;
    font-size: 20px;
}

nav{
    background: #0c1b54;
    height: 30px;
    position: fixed;
    top : 0;
    width: 100%;
}

nav, a{
    text-align: right;
    padding-right: 0.25rem;
    font-weight: 200px;
}

.side-menu{
    position: fixed;
    background: #0c1b54;
    width: 150px;
    height: 100%;
    display: inline-block;
    font-weight: 300px;
}

.side-menu a{
    color: white;
    display: block;
    text-align: justify;
    font-weight: 300px;
    background-color: #0c1b54;
}

.side-menu i{
    padding: 0 10px;
    text-align: left;
    align-items: justify;
}

.side-menu, a:link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 300px;
    text-indent: 0.25rem;
    align-self: left;
}

.side-menu a:hover{
    color: goldenrod;
    background-color: black;
    cursor: pointer;
}


.side-menu i:nth-child(1){
    border-left: 4px solid #fff;
}

.topbar, a{
    color: white;
    background-color: #0c1b54;
}

.topbar, a:hover{
    background-color: black;
    color: goldenrod;
}

.topbar,a:link{
    text-decoration: none;
}


.dropdown{
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.dropdown-menu{
    border: none;
    position: absolute;
    background-color: transparent;
    color: lightgray;
    font-size: 15px;
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link, link:hover{
    color: #0c1b54;
}


.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.link{
    text-decoration: none;
    color: lightgray;
}

.link:hover{
    color: #0c1b54;
}

button.link{
    background-color: transparent;
    display: inline;
    box-decoration-break: none;
    text-decoration: none;
    color: lightgray;
    box-sizing: border-box;
    border: none;
}

button:hover{
    color: #0c1b54;
}

.turnover{
    display: inline-block;
    top: 6.5rem;
    margin-left: 370px;
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.25);
    color: #0c1b54;
    text-indent: 0.5rem;
    font-size: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px); 
}

.totalEmployees{
    display: inline-block;
    top: 6.5rem;
    margin-left: 25px;
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: 8px;
    border-width: 1px;
    box-shadow: 10px 5px 15px rgba(0,0,0,0.25);
    color: #0c1b54;
    text-indent: 0.5rem;
    font-size: 20px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px); 
}



/*Register*/
/* Form Setting */
/*
h2{
    margin-top: 5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: 'Karla', sans-serif;
    color: #0c1b54;;
}


.firstName{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.lastName{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.gender{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}*/

/* Gender Box*/

.btn{
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    display: flex;
    height: 57.5px;
    padding: .25rem;
    position: relative;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

.address{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.contact{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    gap: .25rem;
}



.button{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: .5rem;
}

.button .btn-custom{
    background-color: #0c1b54;
    color: lightgray;
    border-radius: 18px;
    box-sizing: border-box;
}


/* Account */

.accName{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: .75rem;
}

.password{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: .75rem;
}

.confirmPassword{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: .75rem;
}