@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Grape+Nuts&display=swap');

body{
    background-color: darkgray;
    font-family: 'Poppins' , sans-serif;
    font-size:  14px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Beau Rivage', cursive;
}

.navbar-links ul{
    background: none;
    border: none;
    text-decoration: none;
    display: flex;
    gap: .5rem;
    font-size: 20px;

}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    display: inline-flex;
    color: lightgray;
}

.navbar-links li a:hover{
    color: #0c1b54;
}

.dropdown{
    display: inline-block;
    position: relative;
    text-decoration: none;
}

.dropdown-menu{
    border: none;
    position: absolute;
    background-color: transparent;
    color: lightgray;
    font-size: 15px;
    display: flex;
    text-decoration: none;
    box-sizing: border-box;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link, link:hover{
    color: #0c1b54;
}


.dropdown.active > .link + .dropdown-menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.link{
    text-decoration: none;
    color: lightgray;
}

.link:hover{
    color: #0c1b54;
}

button.link{
    background-color: transparent;
    display: inline;
    box-decoration-break: none;
    text-decoration: none;
    color: lightgray;
    box-sizing: border-box;
    border: none;
}

button:hover{
    color: #0c1b54;
}
/* Form Setting */

h2{
    margin-top: 5rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    font-family: 'Beau Rivage', cursive;
    color: #0c1b54;;
}


.firstName{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.lastName{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.gender{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

/* Gender Box*/

.btn{
    background-color: white;
    justify-content: center;
    align-items: center;
    color: black;
    border: none;
    display: flex;
    height: 57.5px;
    padding: .25rem;
    position: relative;
    font-family: 'Beau Rivage', cursive;
    font-size: 15px;
}

.address{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    padding-bottom: .5rem;
}

.contact{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: .25rem;
    gap: .25rem;
}



.button{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: .5rem;
}

.button .btn-custom{
    background-color: #0c1b54;
    color: lightgray;
    border-radius: 18px;
    box-sizing: border-box;
}


/* Account */

.accName{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: .75rem;
}

.password{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: .75rem;
}

.confirmPassword{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: .75rem;
}

/*.navbar-custom{
    background: rgba(130, 130, 130, 0.703);

}

.container{
    margin-top: 15%;
}

.navbar-brand,.nav-link{
    color: lightgray;
}*/